<div class="section no-pad-bot" id="index-banner">
  <div class="container">
    <h3 class="header center grey-text">Nossos serviços para lhe atender</h3>
    <hr>    
  </div>
  <br><br>
</div>
<div class="container">

    <div class="row">
        <% @services.each do |service| %>
          <div class="col s12 m4">
              <div class="card  darken-1 z-depth-4">
              <div class="card-content black-text">
                  <span class="card-title "><%= service.title%></span>
                  <hr>
                  <p><%= truncate(service.body, :length => 300 , :escape => false) %></p>
              </div>
              <div class="card-action">
                  <%= link_to "Mais...", service, class:"black-text" %>
              </div>
              </div>
          </div>
        <% end %>
    </div>         
</div>