<h1><%= @article.title%></h1>
<div><%= @article.body.html_safe%></div>


<% if user_signed_in? %>
  <%= link_to "Edit article", edit_article_path(@article) %>
  <%= link_to "Delete article", article_path(@article), method: :delete, data:{confirm: "Are you sure?"} %>
<% end %>
