<div class="section">
<div class="row">
        <div class="col s12 m8 offset-m2 l6 offset-l3">

            <h3 class="header center grey-text">Sobre</h3>
            <hr>
            <p>
            Com o senso de demonstrar as suas capacidades e fazendo jus às mesmas o
            escritório Dias & Araújo desde o começo foi criado em prol de ser o melhor
            em suas áreas de atuação, com advogadas competentes e dedicadas, 
            o que as levou a um crescimento rápido, demonstrando a capacidade das mesmas
            em meio ao seu trabalho, por isso que Dias & Araújo é um escritório bem conceituado,
            e assim mostrando que comprometimento e seriedade, são a base de um bom relacionamento
            e atuação profissional.
            </p>
            <hr>
        <div>

    </div>
    </div>
</div>
</div>