<div class="section">
<div class="row">
        <div class="col s12 m8 offset-m2 l6 offset-l3">

            <h3 class="header center grey-text">Sobre</h3>
            <hr>
            <p>
              Com o objetivo profissional de contribuir com a justiça e a sociedade, a goianiense Marina Araújo fundou Araújo Advocacia. 
              Desde o princípio, através das mais diversas áreas de atuação, com muita determinação e empenho o crescimento do escritório se deu de maneira muito rápida.
              A capacitação profissional em junção com o comprometimento diário transformou um simples escritório  em um local conceituado na cidade. 
              Por esses e outros motivos que o relacionamento cliente e advogado tem sido estreito e criterioso.
            </p>
            <hr>
        <div>
    </div>
    </div>
</div>
</div>