/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "materialize";
@import "materialize/extras/nouislider";


.card-content{
    height: 350px;
}

.card-content.resume{
    height: 100%;
}
nav{
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    background-color: #ffffff;
    text-transform: uppercase;
    & ul a{
        color:#000
    }
    
}

.title-logo{
    font-weight: 700;
    width: 190px;
    height: 70px;
    font-size: .8em;
    letter-spacing: 4px;
    text-transform: uppercase;
    border: 2px solid #000;
    text-decoration: none;
    padding: 10px;
}

.right a{
    left:50px;
}

.slider .indicators .indicator-item.active {
    background-color: #616161;
}

hr.style-eight {
    padding: 0;
    border: none;
    border-top: medium double #333;
    color: #333;
    text-align: center;
    &.style-eight:after {
        content: "§";
        display: inline-block;
        position: relative;
        top: -0.7em;
        font-size: 1.5em;
        padding: 0 0.25em;
        background: white;
    }
}

.button-collapse {
    color: #26a69a;
}

.section{
    padding: 3em;
}


.pagination:before,
    .pagination:after{
        content: " ";
        display: table;
    }

    .pagination:after{
 	    clear:both;
    }

    .pagination{
        text-align:center;
        margin: 0 0 3em 0;
        a, .previous_page, .current, .next_page{
            padding: .75em 1em;
            margin: 0 .5em;
            border-radius: .15em;
            line-height: 20px;
        cursor: pointer;
            text-decoration: none;
            background: #ccc;
            font-weight: 700;
            font-size: .7em;
            font-style: normal;
            color:#000;
            &:hover{
                background: #ccc;
                color:#6d4c41;
            }

        }
 }

.col.s12.m4.card.board-article{
     left:20px;
}

@media only screen and (max-width : 616px) {
    .col.s12.m4.card.board-article{
         left:0;
    }
}

a{
    color:#333;
}

.topo {
  cursor: pointer;
  position: fixed;
  bottom: 3.5em;
  right: 3.5em;
  display: none;
  z-index: 50;
  background-color: #757575;
  border-color: #fff;
  border-style: solid;
  border-radius: 3px;
  color: #fff;
  padding: 1em 2rem;
  text-decoration: none;
  box-sizing: border-box;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 14px;
}

@media only screen and (max-width : 600px) {
  .topo{
      margin-right: -2.5em;
  }
  a .page-scroll .black-text .title-logo{
      margin-left: 2.5em;
  }
}
