@import 'colors';



.flex-boxcontact {
 
  width: 500px;

}


form {
  margin-top: 2rem; }

input[type="text"],
input[type="email"],
input[type="password"],
textarea,
select {
  width: 85%;
  max-width: 85%;
  padding: 6px 12px;
   border: 2px solid  $whitecolor;
  margin: .5em 0 0.8em 0; }

textarea {
  min-height: 15em; }

input[type="submit"].btn {
  outline: none;
  text-align: center; }


  .btn {
  display: inline-block;
  background-color:$socialcolor;
  color: $whitecolor;
  padding: 10px 20px;
  text-decoration: none;
  box-sizing: border-box;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 14px;
  border: 0px;
  &:hover{
       background-color: $darkcolor;
       color:$whitecolor;
       cursor:pointer;
  }
}


.my-map{
    height: 450px;

    margin-top: 20px;
}