@import 'colors';

.flex-item {
  background:$whitecolor;
  width: 353px;
  height: 229px;
  margin-top: 10px;
  color: $darkcolor; 
 

}


.flex-item p.text-content{
  margin-top: 10px;
  padding: 20px;
  font-size: 0.9em;
  color:$copycolor;
 
}

.flex-item p.text-title{
  background-color: $darkcolor;
  color:$whitecolor;
  margin-top: 30px;
  padding: 20px;
}

@media screen and (max-width: 580px){

  .flex-item {
    padding: 10px;
    height: 100%;
  }

  .flex-item p.text-content{
    margin-top: 5px;
  }
  
}

img{
  width: 100%;
  height: auto;
}
