<div class="section">
    <div class="row ">
        <% @resumes.each do |resume| %>
         <div class="col s12 m6">
        <div class="card-panel grey lighten-5 z-depth-1">
          <div class="row valign-wrapper">
            <div class="col s2 m2">
              <%= image_tag resume.avatar.url(:thumb), class:"circle responsive-image" %>
            </div>
            <div class="col s10 m8">
                <span class="black-text">
                    <h5 class="gray-text"><%=resume.title%></h5>
                    <p class="gray-text"><%= truncate(raw(resume.body), :length => 140) %></p>
                </span>
                <hr>

                <%= link_to "Sobre...", resume, class:"waves-effect waves-light brown  btn"%>
            </div>
          </div>
        </div>
      </div>

        <% end %>
    </div>
</div>