<footer class="footer-component">
	<a href="" class="topo"><i class="fa fa-arrow-up"></i></a>
	<ul class="footer-item">
		<li class="footer-title">Company</li>
		<li class="copy">© 2017 Company - Todos os direitos reservados</li>
	</ul>
	<ul class="footer-item contact">
		 <li><p><i class="fi-marker"></i>Endereço</p></li>
        <li><p><i class="fi-telephone"></i> (62) 9999-9999</p></li>
        <li><p><i class="fi-mail"></i> email@email.com.br</p></li>


	</ul>

	<ul class="footer-item">
		<li>Horário de Funcionamento</li>
		<li>Funcionamento: De 2ª a 6ª, das 08h às 18h, sábado, das 08h às 12h</li>
		<li>
			<div class="social-cube"><a href="#"  target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a></div>
			<div class="social-cube"><a href="#" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a></div>

		</li>
	</ul>




</footer>
