  <footer class="page-footer grey darken-3">
   <a href="" class="topo"><i class="fa fa-arrow-up fa-2x"></i></a>
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Dias & Araújo</h5>
          <p class="grey-text text-lighten-4">Advocacia e Consultoria.</p>


        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Endereço</h5>
          <ul>
            <li><a class="white-text" href="#!">Rua 132, Nº 300 | Setor Sul</a></li>
            <li><a class="white-text" href="#!">(62) 99999-9999</a></li>
            <li><a class="white-text" href="#!">(62) 99999-9999</a></li>
          </ul>
        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Horário de Funcionamento</h5>
          <ul>
            <li><a class="white-text" href="#!">Funcionamento: De 2ª a 6ª, das 08h às 18h</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright grey darken-4">
      <div class="container">
        Desenvolvido por - <a class="brown-text text-lighten-3" href="http://99bemore.com.br">99beMore</a>
      </div>
    </div>
  </footer>
