<nav class="navbar">
      <li class="logo">
        Home
      </li>
    <ul>
      <li>Link</li>
      <li>Link</li>
      <li>Link</li>
      <li>Link</li>
      <li>Link</li>

    </ul>
   <div class="handle">
       <div id="nav-icon3">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
        </div>
   </div>
</nav>
